body {
    background-color: lightblue;
}

.container {
    width: 80%;
    margin: 0 auto;

}

.container-steps{
    display: flex;
    flex-direction: row;
    border-bottom:1px solid black;
}

.container-steps .action {
    width:50%;
}

.container-steps .result {
    width:50%;
    /* force wrap text */
    word-wrap: break-word;
}

.container-steps pre{
    word-wrap: break-word;
}