extends layout

block content
  h1= title
  p Welcome to #{title}
  p You can find the API docs at <a target="_blank" href="https://github.com/avans-webdev/webdev-javascript-notes/blob/main/zeeslag-api/readme.md">here</a>.